{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen.min.css">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.min.js"></script>
{% endblock extra_js %}

{% block title %}
    {% trans 'Crear post' %}
{% endblock title %}

{% block left_wrapper %}
{% endblock left_wrapper %}

{% block main %}
    <form method="post" id="quick-blog-form">
        {% csrf_token %}
        {% crispy form %}
        <input type="submit" class="btn btn-primary" value="Guardar" />
    </form>
    <script type="text/javascript">
        $("#id_categories").chosen({width: '100%'});

        $('#div_id_title').find('label').after('<i class="fa fa-question-circle" id="title-tooltip"></i>');
        $('#title-tooltip').tooltip({title: 'Recuerda que debe ser lo más descriptivo posible'});

        $('#div_id_content').find('label').after('<i class="fa fa-question-circle" id="content-tooltip"></i>');
        $('#content-tooltip').tooltip({title: 'Cuéntanos tu aporte o duda referente a la educación'});

        $('#div_id_categories').find('label').after('<i class="fa fa-question-circle" id="categories-tooltip"></i>');
        $('#categories-tooltip').tooltip({title: 'Asigna una o más etiquetas para tu contribución'});
    </script>
{% endblock main %}
{% block right_wrapper %}

{% endblock right_wrapper %}