{% extends 'base.html' %}

{% block extra_head %}
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <link href="{{ STATIC_URL }}tinymezzce4/css/tinymce.css" type="text/css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen.min.css">
    <script type="text/javascript" src="{{ STATIC_URL }}tinymezzce4/js/tinymce/tinymce.min.js"></script>
{% endblock extra_head %}

{% block main %}
    <form method="post" id="quick-blog-form">
    {% csrf_token %}
        <table id="quick-blog">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td style="width:100%;text-align:right;">
                    <input type="submit" class="default"
                        value="Guardar" />
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tinymezzce4/js/tinymce_setup.js"></script>
    <script>
        window.__csrf_token = '{{ csrf_token }}';
        window.__admin_keywords_submit_url = '/admin_keywords_submit/';
        window.__filebrowser_url = '/admin/media-library/browse/';
    {#    window.__tinymce_css = '/static/mezzanine/css/tinymce.css';#}
    {#    window.__static_proxy = '/asset_proxy/';#}
    {#    window.__grappelli_installed = true;#}
    {#    window.__admin_menu_collapsed = false;#}
    </script>
    <script type="text/javascript">
        $("#id_categories").chosen({width: '100%'});
    </script>

    <script type="text/javascript">
        {% if request.user.is_authenticated %}
           var opener = window.opener;
            if (opener) {
                opener.window.document.location.href=window.location.href;
                window.close();
            }
        {% endif %}
    </script>
{% endblock main %}