{% extends "base.html" %}
{% load i18n future mezzanine_tags forum_tags keyword_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}Foro{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Forum" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block left_wrapper %}
{% endblock %}
<div class="col-md-{% block main_width %}8 {% endblock %}">
{% block main %}

{% if tag or category or year or month or author %}
    {% block blog_post_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing posts for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block blog_post_list_pagecontent %}
    {% if page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}
    {% endblock %}
    {% endif %}
{% endif %}

{% for forum_post in forum_posts.object_list %}
{% block blog_post_list_post_title %}
{% editable forum_post.title %}

    <a href="{{ forum_post.get_absolute_url }}">
        <h3 class="ctitle">
            {{ forum_post.title }}
        </h3>
    </a>

{% endeditable %}
{% endblock %}
{% block blog_post_list_post_metainfo %}
{% editable forum_post.publish_date %}

    <csmall>
    {% trans "Posted by" %}:
    {% with forum_post.user as author %}
    <a href="{% url "forum_post_list_author" author %}" class="href-color">
        {{ author.get_full_name|default:author.username }}
    </a>
    {% endwith %}
    </csmall>
    |

    {% with forum_post.categories.all as categories %}
    {% if categories %}
     <csmall>
    {% trans "in" %}
    {% for category in categories %}
    <a href="{% url "forum_post_list_category" category.slug %}" class="href-color">
        {{ category }}
    </a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    |
    {% endif %}
     </csmall>

    {% endwith %}

    <csmall>
    {% blocktrans with sometime=forum_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
     </csmall>
    |

    <csmall>
        {% if forum_post.allow_comments %}

{#    {% if settings.COMMENTS_DISQUS_SHORTNAME %}#}
{#    <a href="{{ blog_post.get_absolute_url }}#disqus_thread"#}
{#        data-disqus-identifier="{% disqus_id_for blog_post %}">#}
{#        {% trans "Comments" %}#}
{#    </a>#}
{#    {% else %}#}
    <a href="{{ forum_post.get_absolute_url }}#comments">
        {% blocktrans count comments_count=forum_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
    </a>
{#    {% endif %}#}
    {% endif %}
       </csmall>

{% endeditable %}
{% endblock %}

{% block blog_post_list_post_content %}
{% editable forum_post.content %}
{{ forum_post.description_from_content|safe }}
{% endeditable %}
{% endblock %}

{% block blog_post_list_post_links %}
<div class="blog-list-detail">
    {% keywords_for forum_post as tags %}
    {% if tags %}
    <ul class="list-inline tags">
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in tags %}
    <li><a href="{% url "forum_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a></li>
    {% endfor %}
    {% endspaceless %}
    </ul>
    {% endif %}
    <p>
    <a href="{{ forum_post.get_absolute_url }}" class="href-color">
        {% trans "read more" %}
    </a>

    </p>
</div>
{% endblock %}
{% endfor %}

{% pagination_for forum_posts %}


{% endblock %}
</div>

<div class="col-md-{% block right_width %}4 {% endblock %} middle">
{% block right_panel %}
{% include "forum/includes/filter_panel.html" %}
{% endblock %}
</div>