{% extends "base.html" %}
{% load i18n  %}

{% block title %}
    Foro: Normas de uso
{% endblock title %}

{% block left_wrapper %}
    <br>
    <h2><b>Normas de uso</b></h2>
    <br><br>
Nuestras normas han sido creadas con el propósito de reunir en forma armoniosa a la comunidad de Todos por la Educación, fomentando el respeto entre los usuarios y hacia el equipo de moderadores, y siempre con el fin de promover la educación y sus buenas prácticas en nuestro país. Recuerda que los moderadores se reservan el derecho de eliminar contribuciones y/o comentarios que no cumplan con las normas, así como también el bloqueo permanente de usuarios si así se requiriera.
<br><br><br>
<b>Cuenta e identificación</b>
    <ul>
         <li>El foro ha sido creado para que puedas hacer preguntas o consultas; redactar recomendaciones; contar tus experiencias en el colegio, universidad o instituto; realizar encuestas para optimizar tus clases. Todo lo que gustes y se encuentre dentro de la temática de la educación, puede ser compartido y es bienvenido.</li>
         <li>Es obligatorio escribir títulos descriptivos: debes explicar breve y concisamente sobre qué trata el mensaje completo. Asimismo, si el asunto es explícito, facilitarás la búsqueda de tu contribución a los demás usuarios.</li>
         <li>No escribas los mensajes en mayúsculas, ya que se interpreta como ofensivo y dificulta la lectura.</li>
         <li>Utiliza una buena ortografía para que todos puedan entenderte, ya sea en las contribuciones o comentarios. </li>
         <li>Evita las abreviaturas, usa signos de puntuación de manera correcta y no abuses de las funcionalidades del editor de textos (negritas, cursivas, viñetas, etc.).</li>
         <li>Al crear una contribución, hazlo siempre con respeto y buenos modales.</li>
         <li>Al comentar una contribución, hazlo siempre con respeto; recuerda que siempre debemos respetar las opiniones del resto, así no concuerden con las nuestras.</li>
         <li>Está permitido agregar una imagen o un archivo a tu contribución, sin embargo, estos deben estar directamente relacionados a la temática de la misma y deben respetar el peso y tamaño máximo indicado dentro del editor de contribuciones.</li>
         <li>Los moderadores están autorizados a eliminar contribuciones y comentarios que no cumplan las normas, que vayan en contra de las buenas costumbres o sean ofensivos.</li>
    </ul>
 <br><br>
<b>Respeto y convivencia</b>
    <ul>
        <li>Evita los enfrentamientos, agravios, insultos e improperios. Se cortés y trata a todos los integrantes del foro con respeto, de la misma forma en la que esperas ser tratado.</li>
        <li>Evita los enfrentamientos personales; siempre hay una forma de expresar tu criterio sin molestar a los que puedan tener otra opinión.</li>
        <li>El respeto y la educación también se aplicarán a los nombres de usuario y avatares.</li>
        <li>Está terminantemente prohibido la incitación a la violencia, racismo, sexismo o el lenguaje que guarde relación con motivos políticos y/o religiosos.</li>
        <li>Los moderadores están autorizados a eliminar usuarios que no cumplan las normas, que vayan en contra de las buenas costumbres o sean ofensivos.</li>
    </ul>

 <br><br>
<b>Temática, "OffTopics" y mensajes publicitarios no solicitados ("spam")</b>
    <ul>
        <li>Respeta la temática del foro. Recuerda que todos los participantes están aquí por un mismo propósito: revalorizar la educación en nuestro país aportando ideas, novedades, consultas o sugerencias, que siempre podrán ser usadas de una manera positiva por los demás miembros.</li>
        <li>Por favor, no escribas ninguna contribución que no esté relacionada con la temática del foro.</li>
        <li>Los mensajes publicitarios no solicitados o spam, están terminantemente prohibidos. En caso el moderador del foro los encuentre, está autorizado a eliminarlos inmediatamente y a notificar al usuario en falta. </li>
    </ul>
<br><br>
        El incumplimiento reiterado de las normas del foro, de las indicaciones de los moderadores o administradores,
    o cualquier incumplimiento grave en general, puede dar lugar a la expulsión del usuario del foro de Todos por la Educación.
{% endblock left_wrapper %}

{% block main %}

{% endblock main %}
{% block right_wrapper %}

{% endblock right_wrapper %}