{% extends "base.html" %}
{% load i18n  %}

{% block title %}
    Declaracion de privacidad
{% endblock title %}

{% block left_wrapper %}
    <br><br>
    <b>Declaración de privacidad</b> <br><br>

    En Todos por la Educación, sabemos lo importante que es proteger tu privacidad, por ello queremos explicarte cómo recopilamos y utilizamos tu información personal protegida.

Obtención y uso de la información de los usuarios
Quien decida ser visitante del foro de Todos por la Educación, no requerirá inscribirse para crear un perfil o que nos dé información personal alguna. Sin embargo, usamos cookies para obtener más información de cómo usan nuestro sitio web, de manera que podamos mejorar su experiencia en línea. Las cookies nos permiten rastrear la dirección del Protocolo de Internet (IP) del visitante, nombre del dominio e información del software de navegación, mas no información personal.
<br/><br><br>
<b>Cookies</b><br><br>
Cuando visitas www.todosporlaeducacion.pe/foro, enviamos cookies -un pequeño archivo que contiene una secuencia de caracteres- a tu computadora. Las cookies nos permiten identificar individualmente tu navegador de Internet y nos permiten rastrear a los visitantes a medida que se conectan a nuestro foro. Los navegadores de Internet generalmente están configurados para aceptar todas las cookies, pero puedes cambiar este parámetro para desactivarlas o avisarte cuando una página web te envía una.
También usamos cookies para crear una sesión segura con los visitantes que desean ingresar o tener acceso a su información personal. Pero recuerda que algunas de nuestras opciones pueden no funcionar si desactivas los cookies.
{% endblock left_wrapper %}

{% block main %}

{% endblock main %}
{% block right_wrapper %}

{% endblock right_wrapper %}